driver
(
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"
  # load the named file into the simulator
  worldfile "uhh.world"
)

driver
(
  name "stage"
  provides ["6665:position2d:0" "6665:sonar:0" "6665:laser:0"]
  model "r0"
)

driver
(
  name "lasertoranger"
  requires ["6665:laser:0"] # read from laser:0
  provides ["6665:ranger:0"] # output results on ranger:0
)

# Log data from laser:0 position2d:0 to "/home/data/logs/mydata_YYYY_MM_DD_HH_MM_SS.log"
driver
(
  name "writelog"
  log_directory "/Users/sebastian/projekt090406/log"
  basename "mydata"
  requires ["laser:0" "position2d:0"]
  provides ["log:0"]
  alwayson 1
  autorecord 1
)
